form {
    margin: 120px 0;
}

form p {
    padding: 12px 0;
}

form input[type=text] {
    padding: 12px;
    margin: 0 8px;
    outline: none;
    border: none;
    border-radius: 8px;
}

form input[type=text]::placeholder {
    color: #BABCBE;
}

form button {
    padding: 16px 32px;
    border: none;
    background: #fff;
    color: var(--secondary);
    font-family: var(--bold);
    cursor: pointer;
    border-radius: 56px;
}

form button[class$='-primary'] {
    background: var(--primary);
}

@media (max-width:768px) {
    form input[type=text] {
        display: block;
        margin: 8px auto;
    }
}